<p>typeform works!</p>
<form  (ngSubmit)="onSubmit(header)" #header="ngForm">
<input type="text" name="firstname" id="firstname" placeholder="Firstname" ngModel><br>
<input type="text" name="lastname" id="lastname" placeholder="Lastname" ngModel><br>
<input type="text" name="middlename" id="middlename" placeholder="Middlename (Optional)" ngModel><br>
<input type="text" name="location" id="location" placeholder="Location" ngModel><br>
<input type="text" name="bio" id="bio" placeholder="a short bio e.g Web/Mobile Developer" ngModel><br>
<input type="email" name="email" id="email" placeholder="email" ngModel><br>
<input type="tel" name="phone number" id="phonenumber" placeholder="Phone number" ngModel><br>
<textarea name="summary" placeholder="Summary" ngModel></textarea><br>
<h2>Education</h2>
<input type="text" name="school" id="school" placeholder="School e.g High School" ngModel><br>
<label>Finish date</label>
<input type="date" name="edu-enddate" id="edu-enddate" placeholder="End date" ngModel><br>
<label>Certificate obtained</label>
<input type="text" name="edu-cert" id="edu-cert" placeholder="Certificate Obtained" ngModel><br>

<h2>Experience</h2>
<input type="text" name="title" id="title" placeholder="job title"><br>
<label>start date
<input type="date" name="exp-startdate" id="exp-startdate" placeholder="Start date" ngModel>
</label><br>

<label>end date
<input type="date" name="edu-expdate" id="exp-enddate" placeholder="End date" ngModel>
</label><br>
<input type="text" placeholder="Roles"><button>+</button><br>
<button type="submit">save</button>
</form>

